# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
*.log
*.tfplan
.terraform.lock.hcl

# =========================
# Credenciales y certificados
# =========================
*.pem
*.pfx
*.cer
*.key
*.crt

# =========================
# Archivos temporales del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Residuos de editores
# =========================
*~
*.swp

# =========================
# Ejecutables y binarios
# =========================
*.exe
*.dll
*.so
*.dylib
*.msi
*.bat
*.cmd

# =========================
# Archivos comprimidos / empaquetados
# =========================
*.zip
*.tar
*.gz
*.7z

# =========================
# Datasets y resultados experimentales
# =========================
datasets/
*.csv
*.tsv

# =========================
# Archivos de Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.ipynb_save
